<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="img/picture.webp" alt="Laptop" width="473" height="316">
  <p>Photo by Garrett Sears on Unsplash</p>
  
  <div class="pt-3">
    The User Management System is a robust and user-friendly platform designed to streamline the process of managing user accounts and profiles. Developed with modern web technologies, it combines the power of HTML, CSS, and Bootstrap for a responsive and visually appealing front-end, while leveraging Node.js, Express, and MongoDB for a high-performance, scalable, and secure back-end.

Key Features
User Registration and Authentication: Secure user registration and login functionality with password encryption.
Profile Management: Users can easily update their profiles, including personal information and preferences.
Role-Based Access Control: Different access levels for administrators and regular users to ensure data security and proper permissions.
Responsive Design: Built with Bootstrap, the system offers a seamless experience across all devices and screen sizes.
Scalable Back-End: Node.js and Express provide a fast, scalable server-side environment.
Reliable Data Storage: MongoDB ensures efficient storage and retrieval of user data with its flexible document-based database.
  </div>